body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg,#cc2b5e,#753a88);
}
.container{
max-width: 300px;
width: 100%;
background: #fff;
padding: 25px 30px;
border-radius: 10px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    font-style: italic;
    padding-bottom: 5px;
    font-family: monospace;
}
.container .title::before{
content: '';
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 30px;
background: linear-gradient(135deg,#cc2b5e,#753a88);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    margin: 1px 0 5px 0;
    width: calc(100% / 1 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 7px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 12px;
    font-style: italic;
    font-family: sans-serif;
}
.container .user-details .button input{
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 60px;
    font-weight: 250;
    font-size: 70%;
}